/* Estilos para las alertas */
.alerta-verde {
    padding: 10px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 300px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.alerta-roja {
    padding: 10px;
    margin: 10px;
    background-color: #F44336;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 300px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


.alerta-verde, .alerta-roja {
    display: block;
    opacity: 1;
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        display: none;
    }
}
