/*  Estilos Generales */
body {
    font-family: arvo;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    font-size: 1.1em;
}

/*! Fuente de Google Fonts  */
.hachi-maru-pop-regular {
    font-family: "Hachi Maru Pop", serif;
    font-weight: 400;
    font-style: normal;
}

.arvo-regular {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
}

.arvo-bold {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
}

.arvo-regular-italic {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: italic;
}

.arvo-bold-italic {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: italic;
}


nav {
    background-color: #00718c;
    padding: 15px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-flow: row;
    align-items: center;
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.3em;
}

.logo img{
    width: 7vw;
    height: auto;
    object-fit: contain;
    transition: all 0.3s ease;
    filter: drop-shadow(0 0 5px #003441);
}

.logo img:hover{
    /* box-shadow: 0 0 3px red; */
    filter: drop-shadow(0 0 10px #003441);
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1.2em;
}

.menu li {
    position: relative;
    list-style-type: none;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    border-radius: 10px;

}

.menu a:hover {
    background-color: #005165;
}

.submenu-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #04715c;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 180px;
    z-index: 100;
    padding: 0;
    margin: 0;
}

.submenu-right {
    left: auto;
    right: 0;
}

.submenu-content li {
    width: 100%;
}

.submenu-content a {
    padding: 10px 15px;
    display: block;
    color: white;
}

.submenu-content a:hover {
    background-color: #034f3f;
}

.submenu:hover .submenu-content {
    display: block;
}


/*  Secci贸n del Encabezado */
.header {
    text-align: center;
    padding: 30px 20px;
    background-color: #3ed8c2;
    color: white;
}

.header h1 {
    font-size: 28px;
    margin: 0;
}

/*  Secci贸n de Acciones */
.acciones {
    text-align: center;
    margin: 20px 0;
}

.btn-accion {
    padding: 10px 20px;
    background-color: #04715c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 16px;
}

.btn-accion:hover {
    background-color: #034f3f;
}

/*  Tabla de Enfermeras */
#tablaEnfermeras {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 90%;
}

.busqueda {
    text-align: right;
    margin-bottom: 10px;
}

.busqueda input {
    padding: 5px;
}

#tablaEnfermeras table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#tablaEnfermeras th,
#tablaEnfermeras td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#tablaEnfermeras th {
    background-color: #3ed8c2;
    color: white;
    font-weight: bolder;
}

tr:hover{
    background-color: #979797;
    /* font-weight: bolder; */
    color: black;
}

.btn-regresar {
    padding: 10px 20px;
    background-color: #04715c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    font-size: 16px;
}

.btn-regresar:hover {
    background-color: #034f3f;
}

/*  Pie de P谩gina */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 20px;
}

footer a {
    color: yellow;
    text-decoration: none;
    font-style: italic;
}

footer a:hover {
    text-decoration: underline;
}

/*  Bot贸n del Men煤 M贸vil */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/*  Mostrar solo en m贸viles */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: blueviolet;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 10px 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .menu-active {
        display: flex;
    }
}