/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Encabezado */
header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Main */
main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

/* Formulario */
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.1em;
    color: #4CAF50;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    font-size: 1em;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

button:hover {
    background-color: #45a049;
}

/* Div de la tabla */
#divCentro {
    width: 100%;
    margin-top: 20px;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #4CAF50;
    color: rgb(29, 27, 27);
    font-size: 1.1em;
}

table tr:nth-child(even) {
    background-color: #f8f8f8;
}

table tr:hover {
    background-color: #235b17;
}



