<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Centro Médico | Consulmed</title>
        <link rel="shortcut icon"
            href="/image/icon/centro-medico/icon-centro-medico.ICO"
            type="image/x-icon">
        <link rel="stylesheet" href="/css/centroMedico/centroMedico.css">
        <meta name="author" content="EyelessCode">
        <script type="module" defer
            src="/js/centroMedico/centroMedico.js"></script>
    </head>
    <body>
        <header>
            <h1>Gestión de Centros Médicos</h1>
        </header>
        <main>
            <!-- Enlace para regresar -->
            <a href="http://localhost:4000/comsulmed" class="btnRegresar" id="btnBuscarPaciente">
                Regresar
                <svg class="svgRegresar" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                    <path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/>
                </svg>
            </a>
            

            <h2>Listado de Centros Médicos</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Dirección</th>
                    </tr>
                </thead>
                <tbody id="tablaCentroMedico">
                    <!-- Aquí se insertarán las filas dinámicamente -->
                </tbody>
            </table>
        </main>
    </body>
</html>
