<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro Médico</title>
    <link rel="shortcut icon" href="./icons/icons-centro.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/centromedico/centromedico.css">
   
</head>
<body>
    <header>
        
        <h1>Centros Médicos</h1>
    </header>

    <br>
    <main>
        <form>
            <label for="nombre">Centros Medicos CONSULMED:</label>
            <button type="button" id= "buscar">Buscar</button>

            <br>

            <div id="divCentro">

                
                
            </div>
            <!-- <label for="direccion">Dirección:</label> -->
            <!-- <input type="text" id="direccion" name="direccion" required> -->

            <!-- <label for="telefono">Teléfono:</label> -->
            <!-- <input type="tel" id="telefono" name="telefono" required> -->

            <!-- <button type="submit">Buscar</button> -->
        </form>
    </main>
</body>
<script type="module" src="../js/centromedico/centromedico.js"></script>


</html>