<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <title>Gestión de Enfermeras</title>
    <link rel="stylesheet" href="./css/enfermera/alertas.css">
    <link rel="stylesheet" href="./css/enfermera/enfermera.css">
</head>
<body>
    <header>
        <h1>Gestión de Enfermeras</h1>
    </header>

    <main>
        <section id="listado">
            <h2>Listado de Enfermeras</h2>

            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>ID</th>
                        <th>Turno</th>
                        <th>Contacto</th>
                        <th>ID del Paciente</th>
                        <th>Asignar</th>
                        <th>Desactivar</th>
                    </tr>
                </thead>
                <tbody id="nursesTableBody">
                    
                </tbody>
            </table>

            <!-- Contenedor para los botones de Consultar y Limpiar -->
            <div class="buttons-container">
                <button id="consultarBtn">Consultar</button>
                <button id="limpiarBtn">Limpiar</button>
            </div>
        </section>

        <!-- Contenedor donde se mostrará la tabla de asignación -->
        <div id="infoAsignacion"></div>
    </main>

    <script type="module" src="./js/enfermera/enfermera.js"></script>
</body>
</html>
