<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enfermera | Consulmed</title>
    <link rel="shortcut icon" href="/image/icon/enfermera/icon-enfermera.ICO" type="image/x-icon">
    <link rel="stylesheet" href="/css/enfermera/enfermera.css">
    <meta name="author" content="EyelessCode">
    <script type="module" defer src="/js/enfermera/enfermera.js"></script>
</head>
<body>
    <header>
        <h1>Gestión de Enfermeras</h1>
    </header>
    <main>
        <!-- Botón para regresar -->
        <button id="btnRegresar">Regresar</button>
        
        <h2>Listado de Enfermeras</h2>
        <table>
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombres</th>
                </tr>
            </thead>
            <tbody id="tablaEnfermera">
                <!-- Aquí se insertarán las filas dinámicamente -->
            </tbody>
        </table>
    </main>
</body>
</html>
