<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author"
            content="Cristhian Guedes, Jeffrey Romero, Toala Michael">
        <title>Pacientes | ComsulMed</title>
        <link rel="shortcut icon" href="/image/icon/icon-paciente.ICO"
            type="image/x-icon">
        <link rel="stylesheet" href="/css/paciente/paciente.css">
        <script type="module" src="/js/paciente/paciente.js"></script>
    </head>
    <body>

        <nav>
            <div class="container">
                <a href="#" class="logo">
                    <img src="/image/icon/logo.webp" alt="">
                    ConsulMed
                </a>
                <ul class="menu">
                    <li><a
                            href="http://localhost:4000/comsulmed">Inicio</a></li>
                    <li class="submenu">
                        <a href="#">Servicios</a>
                        <ul class="submenu-content">
                            <li><a
                                    href="http://localhost:4000/comsulmed/paciente/html">Pacientes</a></li>
                            <li><a
                                    href="http://localhost:4000/comsulmed/centroMedico/html">Centro
                                    Médico</a></li>
                            <li><a
                                    href="http://localhost:4000/comsulmed/enfermera/html">Enfermeras</a></li>
                            <li><a
                                    href="http://localhost:4000/comsulmed/tomaSigno/html">Toma
                                    de Signos</a></li>
                        </ul>
                    </li>
                    <li><a href="http://localhost:4000/comsulmed/about/html">Sobre
                            Nosotros</a></li>
                    <li class="submenu">
                        <a href="#">Más</a>
                        <ul class="submenu-content submenu-right">
                            <li><a
                                    href="http://localhost:4000/comsulmed/noticia/html">Noticias</a></li>
                            <li><a
                                    href="http://localhost:4000/comsulmed/evento/html">Eventos</a></li>
                            <li><a
                                    href="http://localhost:4000/comsulmed/contacto/html">Contacto</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <main>
            <div class="header">
                <h1>Gestión de Pacientes</h1>
            </div>

            <div class="acciones">
                <!-- <button id="btnRegistrar" class="btn-accion">Registrar
                    Paciente</button> -->
                <button button id="btnRegistrar" class="btn-registrar">
                    Registrar Paciente
                    <svg class="svgRegistrar" xmlns="http://www.w3.org/2000/svg" height="180px" viewBox="0 -960 960 960" width="180px" fill="#000000"><path fill="#000000" fill-rule="evenodd" d="M720-400v-120H600v-80h120v-120h80v120h120v80H800v120h-80Zm-360-80q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0-80Zm0 400Z"/></svg>
                </button>
                <!-- <button id="btnListar" class="btn-accion">Listar
                    Pacientes</button> -->
                <button class="btn-listar" id="btnListar">
                    Listar Pacientes
                    <svg class="svgListar" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M360-240h440v-107H360v107ZM160-613h120v-107H160v107Zm0 187h120v-107H160v107Zm0 186h120v-107H160v107Zm200-186h440v-107H360v107Zm0-187h440v-107H360v107ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Z"/></svg>
                </button>
                <!-- <button id="btnDesaparecer" style="display: none;">Ocultar
                    Tabla</button> -->
                <button id="btnDesaparecer" style="display: none;" class="btn-desaparecer">
                    Ocultar Tabla
                    <svg class="svgDesaparecer" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="m644-428-58-58q9-47-27-88t-93-32l-58-58q17-8 34.5-12t37.5-4q75 0 127.5 52.5T660-500q0 20-4 37.5T644-428Zm128 126-58-56q38-29 67.5-63.5T832-500q-50-101-143.5-160.5T480-720q-29 0-57 4t-55 12l-62-62q41-17 84-25.5t90-8.5q151 0 269 83.5T920-500q-23 59-60.5 109.5T772-302Zm20 246L624-222q-35 11-70.5 16.5T480-200q-151 0-269-83.5T40-500q21-53 53-98.5t73-81.5L56-792l56-56 736 736-56 56ZM222-624q-29 26-53 57t-41 67q50 101 143.5 160.5T480-280q20 0 39-2.5t39-5.5l-36-38q-11 3-21 4.5t-21 1.5q-75 0-127.5-52.5T300-500q0-11 1.5-21t4.5-21l-84-82Zm319 93Zm-151 75Z"/></svg>
                </button>
            </div>

            <div id="formRegistro" style="display: none;" data-mode:"create">
                <h2 id="titulo-paciente">Registrar Nuevo Paciente</h2>
                <form id="formPaciente">
                    <label for="cedula">Cédula:</label>
                    <input type="text" id="cedula" required maxlength="10" minlength="10">

                    <label for="nombres">Nombres:</label>
                    <input type="text" id="nombres" required>

                    <label for="apellidos">Apellidos:</label>
                    <input type="text" id="apellidos" required>

                    <label for="genero">Género:</label>
                    <select id="genero" required>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                    </select>

                    <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                    <input type="date" id="fechaNacimiento" required>

                    <label for="tipoSangre">Tipo de Sangre:</label>
                    <input type="text" id="tipoSangre" required>

                    <label for="telefono">Teléfono:</label>
                    <input type="tel" id="telefono" required>

                    <label for="direccion">Dirección:</label>
                    <input type="text" id="direccion">

                    <label for="correo">Correo:</label>
                    <input type="email" id="correo" required>

                    <label for="ocupacion">Ocupación:</label>
                    <input type="text" id="ocupacion" required>

                    <div class="form-buttons">
                        <!-- <button type="submit"
                            class="btn-accion">Guardar</button> -->
                        <button button id="btnGuardar" class="btn-accion" type="submit">
                            Guardar
                            <svg class="svgGuardar" xmlns="http://www.w3.org/2000/svg" height="180px" viewBox="0 -960 960 960" width="180px" fill="#000000"><path fill="#000000" fill-rule="evenodd" d="M720-400v-120H600v-80h120v-120h80v120h120v80H800v120h-80Zm-360-80q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0-80Zm0 400Z"/></svg>
                        </button>
                        <!-- <button type="button" id="btnCancelar"
                            class="btn-accion">Cancelar</button> -->
                        <button button id="btnCancelar" class="btn-accion" type="reset">
                            Cancelar
                            <svg class="svgCancelar" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                        </button>
                    </div>
                </form>
            </div>

            <div id="tablaPacientes" style="display: none;">
                <div class="busqueda">
                    <input type="text" id="buscarCodigo"
                        placeholder="Buscar por código">
                    <!-- <button id="btnBuscar" class="btn-accion">Buscar</button> -->
                    <button id="btnBuscar" class="btn-buscar">
                        Buscar
                        <svg class="svgBuscar"
                            xmlns="http://www.w3.org/2000/svg" height="180px"
                            viewBox="0 -960 960 960" width="180px"
                            fill="#000000"><path fill-rule="evenodd"
                                d="M796-121 533-384q-30 26-69.96 40.5Q423.08-329 378-329q-108.16 0-183.08-75Q120-479 120-585t75-181q75-75 181.5-75t181 75Q632-691 632-584.85 632-542 618-502q-14 40-42 75l264 262-44 44ZM377-389q81.25 0 138.13-57.5Q572-504 572-585t-56.87-138.5Q458.25-781 377-781q-82.08 0-139.54 57.5Q180-666 180-585t57.46 138.5Q294.92-389 377-389Z" /></svg>
                    </button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Cédula</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Edad</th>
                            <!-- <th>Género</th> -->
                            <th>Fecha de Nacimiento</th>
                            <th>Tipo de Sangre</th>
                            <!-- <th>Teléfono</th> -->
                            <!-- <th>Dirección</th> -->
                            <!-- <th>Correo</th> -->
                            <!-- <th>Ocupación</th> -->
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="cuerpoTabla">
                        <!--? Filas dinámicas generadas con JS -->
                    </tbody>
                </table>
            </div>

            <!-- <button
                onclick="window.location.href='http://localhost:4000/comsulmed';"
                class="btn-regresar">Regresar</button> -->
            <button id="btnRegresar" class="btn-regresar" onclick="window.location.href='http://localhost:4000/comsulmed';">
                Regresar
                <svg class="svgRegresar" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                    <path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 	320 240v480H520v-240h-80v240H160Zm320-350Z"/>
                </svg>
            </button>
        </main>

        <footer>
            <p>&copy; 2025 ConsulMed. Todos los derechos reservados.</p>
            <p>Contacto: <a
                    href="mailto:info@consulmed.com">info@consulmed.com</a></p>
            <p>Teléfono: +123 456 7890</p>
        </footer>
    </body>
</html>
