<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signos Vitales | Consulmed</title>
    <link rel="stylesheet" href="/css/tipoSigno/tipoSigno.css">
    <link rel="shortcut icon" href="/image/icon/tipoSigno/icon-tipoSigno.ICO" type="image/x-icon">
    <meta name="author" content="EyelessCode">
    <script type="module" defer src="/js/tipoSigno/tipoSigno.js"></script>
</head>
<body>
    <header>
        <h1>Gestión de Signos Vitales</h1>
    </header>
    <main>
        <a href="http://localhost:4000/comsulmed" class="btnRegresar" id="btnBuscarPaciente">
            Regresar
            <svg class="svgRegresar" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                <path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/>
            </svg>
        </a>
        <h2>Registrar Signo Vital</h2>
        <form id="formularioSignoVital">
            <label for="txtDescripcionVital">Descripción:</label>
            <input type="text" id="txtDescripcionVital" name="descripcion" required>

            <label for="txtUnidadVital">Unidad:</label>
            <input type="text" id="txtUnidadVital" name="unidad" required>

            <label for="txtValorMin">Valor Mínimo:</label>
            <input type="number" id="txtValorMin" name="valorMinimo" required>

            <label for="txtValorMax">Valor Máximo:</label>
            <input type="number" id="txtValorMax" name="valorMaximo" required>

            <button type="submit">Registrar Signo Vital</button>
        </form>

        <h2>Listado de Signos Vitales</h2>
        <table>
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Unidad</th>
                    <th>Valor Mínimo</th>
                    <th>Valor Máximo</th>
                </tr>
            </thead>
            <tbody id="tablaSignosVitales">
                <!-- Aquí se insertarán las filas dinámicamente -->
            </tbody>
        </table>
    </main>
</body>
</html>
